<h1>slowny - beta version</h1>

<% form_tag root_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>

<% if @dics %>
	<% @dics.each do |dic| %>
	  <%=h dic.word %> 
	<% end %>
	
	<%= will_paginate @dics, :path => 'user', :next_label => 'Następna', :previous_label => 'Poprzednia'  %>
	
<% end %>