body { text-align:center; padding: 20px 25px 20px 25px; background-color: #666; font-family: Arial, Verdana, sans-serif; background: #fff url(/images/bg.jpg); }

body, p, ol, ul, td { font-size: 13px; color: #e3ea6d; }

pre { background-color: #eee; padding: 10px; font-size: 11px; }

h1, h2, h3, h4 { font-weight: normal; }
h1.subtitle { color: #f90; margin: 0; padding: 0; font-size: 98%; font-weight: bold; }

a { color: #bccd38; }
a:visited { color: #bccd38; }
a:hover { color: #bccd38; text-decoration: none; }

#top { margin: 0 auto; max-width: 650px; }
#footer { margin: 25px auto; padding: 0 0 10px 0; max-width:650px; border-top: 3px solid #314508; }
#footer p { color: #323a05; font-size: 88%; }
#footer p a, #footer p a:visited, #footer p a:hover { color: #323a05; }
	
input.textfield:focus, textarea:focus { color: #333; }
input.textfield, textarea { width: 30%; padding: 2px; color: #777; background: #f9f9f9; font-size: 150%; }

#results { font-size: 110%; color: white; line-height: 2.1em; margin: 10px 0 15px 0;}

.pagination { font-size: 105%; color: #e3ea6d; }

span.ok { margin: 0 2px 0 2px; padding: 4px; background: #314508; }
span.counter { font-size: 120%; padding: 4px; color:#304006; background:#e3ee6f; }
span.no-ok { margin: 0 2px 0 2px; padding: 4px; color: #ffcccc; background: #990000; }

#searchform { padding: 0; margin: 0;}
#searchform input {vertical-align: middle;}
#searchform ol { padding: 0; margin: 0 auto; max-width:600px; width: 70%; background:transparent; }
#searchform ol li { list-style: none; margin-bottom: 10px; background:transparent; text-align:left; }
#searchform fieldset { margin: 0 0 10px 0; padding: 20px; border: 0; background: transparent url('/images/bg_search.png');}
#searchform input#search-field { height: 30px; width: 65%; margin: 0; font-size: 170%; }
#searchform input#search-submit { width: 30%; height: 36px; cursor: pointer; text-align: center; background-color: #ff9900; border: 0; padding:8px;margin: 0; color: #fff !important; font-size: 120%; }
#searchform input#search-submit:hover { background-color: #879e19 !important; }

.fieldWithErrors { padding: 2px; background-color: red; display: table; }

#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
  #errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
  #errorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
  #errorExplanation ul li { font-size: 12px; list-style: square; }

